
/**************/
/* colors.css */
/**************/

header {
    background-color: var(--primary-color);
    color: var(--grey100);
}

main{
    background-color: var(--grey200)
}

footer {
    background-color: var(--secondary-color);
    border-top: 1px solid var(--grey500)
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--grey900);
        color: var(--grey100);
    }

    main,
    footer {
        background-color: var(--grey700)
    }
}