<nav aria-label="Pagination">
    <p>
    {%- assign previousPost = collections.dropdown | getPreviousCollectionItem %}
    {%- assign nextPost = collections.dropdown | getNextCollectionItem %}
    {%- if nextPost or previousPost %}
    {%- if previousPost %}Previous article: <a role="button" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
    {%- endif %}
    {%- if nextPost %}
    Next article: <a role="button" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
    {%- endif %}
    {%- endif %}</p>
</nav>